Repository Pournima-Hatkar/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-result.yml, azure-pipelines-vote.yml, azure-pipelines-worker.yml

azure-pipelines-result.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build an image to container registry
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-vote.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build an image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-worker.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

Set up CI with Azure Pipelines
  azure-pipelines-worker.yml
Due: none

Update azure-pipelines-worker.yml for Azure Pipelines
  azure-pipelines-worker.yml
Due: none

Updated Dockerfile
  worker/Dockerfile
Due: azure-pipelines-worker.yml

Added updateK8sManifests.sh
  scripts/updateK8sManifests.sh
Due: none

Update azure-pipelines-vote.yml for Azure Pipelines
  azure-pipelines-vote.yml
Due: none

Updated vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Updated app.py
  vote/app.py
Due: azure-pipelines-vote.yml

Updated updateK8sManifests.sh
  scripts/updateK8sManifests.sh
Due: none

Path conditions:
  azure-pipelines-result.yml: any of: result
  azure-pipelines-vote.yml: any of: vote
  azure-pipelines-worker.yml: any of: worker
